<div class="container">
  <h1>Review Order</h1>
  <div class="container">
    <script type="text/javascript">

    function change_status(status){
      document.getElementById('order_status').value = status;
    }

    </script>
    <%= form_for :order, url: pharma_order_path(@order), method: :patch do |f| %>

    <h2> <%= @order.patient_name %> </h2>

    <p>
      <%= f.label :order_name %><br>
      <%= f.text_field :order_name %>
    </p>

    <p>
      <%= f.label :dosage %><br>
      <%= f.text_field :dosage %>
    </p>

    <%= f.hidden_field :status %>

    <p>
      <%= f.submit "Reject Order", :onclick => 'change_status("draft")' %>
    </p>

    <p>
      <%= f.submit "Approve Order", :onclick => 'change_status("approved")' %>
    </p>

    <% end %>
  </div>
  <h1> <%= link_to 'Back', controller: 'physician' %> </h1>
</div>