<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
$(document).ready(function() {
  $(document).on('click', '#inflight', function(event) {

    if (document.getElementById('ordersinflight').style.display == 'none'){
      document.getElementById('ordersinflight').style.display = 'block';
    } else {
      document.getElementById('ordersinflight').style.display = 'none';
    }

  });
});

$(document).ready(function() {
  $(document).on('click', '#inreview', function(event) {

    if (document.getElementById('ordersinreview').style.display == 'none'){
      document.getElementById('ordersinflight').style.display = 'none';
      document.getElementById('ordersinreview').style.display = 'block';
    } else {
      document.getElementById('ordersinreview').style.display = 'none';
    }

  });
});

$(document).on('click', '#inflight', function(event) {

  if (document.getElementById('ordersinflight').style.display == 'none'){
    document.getElementById('ordersinflight').style.display = 'block';
  } else {
    document.getElementById('ordersinflight').style.display = 'none';
  }

});

$(document).on('click', '#inreview', function(event) {

  if (document.getElementById('ordersinreview').style.display == 'none'){
    document.getElementById('ordersinflight').style.display = 'none';
    document.getElementById('ordersinreview').style.display = 'block';
  } else {
    document.getElementById('ordersinreview').style.display = 'none';
  }

});
</script>


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Jarvis</title>

	<!-- Bootstrap core CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="assets/css/main.css" rel="stylesheet">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="assets/js/chart.js"></script>


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
  </head>

  <body>

  	<div class="navbar navbar-default navbar-fixed-top"style="width:100%;">
      <div class="container" style="width:100%;">
        <div id="hello" class="row" style="width:100%;">
          <%= link_to ("<h1>Jarvis</h1><h2>Physician</h2>").html_safe, 
          pharma_tech_index_path, { style: 'width:50%;display:inline-block;float:left;' } %>
          <div class="nav navbar-nav" style="padding-top:55px;width:120px;float:right;">
            <li class="active" style="width:120px;"><%= link_to 'New Order', new_order_path, { style: 'width:120px;display:inline-block;text-align:center;' } %></li>
          </div>
        </div>
      </div>
  	</div>

    <br>
    <br>
    <br>
    <br>

  			<div class="row" id="green" style="position:fixed;z-index:9999;width:100%;padding-top:0px;right:0;margin:0 auto;">
  				<div id="inflight" class="col-xs-6 centered" style="border-right: 3px solid #ccc;">
  					<h3> ORDERS IN FLIGHT</h3>
  				</div>
          <div id="inreview" class="col-xs-6 centered">
            <h3>ORDERS FOR REVIEW</h3>
          </div>
  			</div>

    <div class="container" id="ordersinflight" style="display:none;padding-top:80px;">
      <% @active_orders.each do |order| %>
      <div class="row centered mt grid">
        <div class="col-lg-3">
          <%= link_to image_tag("data:image/jpeg;base64,#{order.image}", width: 200, height: 200), order_path(order) %>
        </div>
        <div class="col-lg-3">
          <h3>Drug: <%= order.order_name %></h3>
          <h3>Patient: <%= order.patient_name %></h3>
          <h3>First Dose Priority: <%= order.timestamp %></h3>
        </div>
        <div class="col-lg-6">
          <ol class="progress-meter">
            <li class="progress-point done"></li><li class="progress-point todo"></li><li class="progress-point todo"></li>
          </ol>
        </div>
      </div>
      <% end %>

      <% @approved_orders.each do |order| %>
      <div class="row centered mt grid">
        <div class="col-lg-3">
          <%= link_to image_tag("data:image/jpeg;base64,#{order.image}", width: 200, height: 200), order_path(order) %>
        </div>
        <div class="col-lg-3">
          <h3>Drug: <%= order.order_name %></h3>
          <h3>Patient: <%= order.patient_name %></h3>
          <h3>First Dose Priority: <%= order.timestamp %></h3>
        </div>
        <div class="col-lg-6">
          <ol class="progress-meter">
            <li class="progress-point done"></li><li class="progress-point done"></li><li class="progress-point todo"></li>
          </ol>
        </div>
      </div>
      <% end %>

      <% @completed_orders.each do |order| %>
      <div class="row centered mt grid">
        <div class="col-lg-3">
          <%= link_to image_tag("data:image/jpeg;base64,#{order.image}", width: 200, height: 200), order_path(order) %>
        </div>
        <div class="col-lg-3">
          <h3>Drug: <%= order.order_name %></h3>
          <h3>Patient: <%= order.patient_name %></h3>
          <h3>First Dose Priority: <%= order.timestamp %></h3>
        </div>
        <div class="col-lg-6">
          <ol class="progress-meter">
            <li class="progress-point done"></li><li class="progress-point done"></li><li class="progress-point done"></li>
          </ol>
        </div>
      </div>
      <% end %>
      <div class="row centered mt grid">
      </div>
    </div>

    <div class="container" id="ordersinreview" style="display:none;padding-top:80px;">
      <% @draft_orders.each do |order| %>
      <div class="row centered mt grid">
        <div class="col-lg-4">
          <%= link_to image_tag("data:image/jpeg;base64,#{order.image}", width: 200, height: 200), edit_order_path(order) %>
        </div>
        <div class="col-lg-7">
          <h3>Drug: <%= order.order_name %></h3>
          <h3>Patient: <%= order.patient_name %></h3>
          <h3>First Dose Priority: <%= order.timestamp %></h3>
        </div>
      </div>
      <% end %>
      <div class="row centered mt grid">
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
</body>
</html>