<div class="container">
<h1>Edit Order</h1>
<br>
<div class="container">
<%= form_for :order, url: order_path(@order), method: :patch do |f| %>
  <p>
    <%= f.label :patient_name %><br>
    <%= f.text_field :patient_name %>
  </p>
 
  <p>
    <%= f.label :drug_name %><br>
    <%= f.text_field :order_name %>
  </p>

  <p>
    <%= f.label :dosage %><br>
    <%= f.text_field :dosage %>
  </p>

  <p>
    <%= f.label :route %><br>
    <%= f.text_field :route %>
  </p>  

  <p>
    <%= f.label :frequency %><br>
    <%= f.text_field :frequency %>
  </p>  
 
  <%= f.hidden_field :status, value: 'active' %>

  <%= f.hidden_field :care_team, value: 'physician' %>
  
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
</div>
 
<h1> <%= link_to "<button>Back</button>".html_safe, controller: 'physician' %> </h1>
</div>