
<div class="container" id="shell">
  <h1>New Order</h1>
    <br>
  <div class="container">
  <script type="text/javascript">

      function ping_test(){
        document.getElementById('order_order_name').innerHTML = "";
        var drug_name = $('#order_select').val();

        if (drug_name.length > 3) {
          var url = "https://rxnav.nlm.nih.gov/REST/approximateTerm?term=" + drug_name + "&maxEntries=1";

            $.ajax({
                crossDomain: true,
                dataType: "json",
                url: url,
                success: function(data) { 
                  var complete_results = data.approximateGroup.candidate;

                  complete_results.map(function(result) {
                    var rxcui = result.rxcui;
                    var url2 = "https://rxnav.nlm.nih.gov/REST/rxcui/" + rxcui + "/related?tty=SBD";
                      $.ajax({
                        crossDomain: true,
                        dataType: "json",
                        url: url2,
                        success: function(data) { 
                          var results = data.relatedGroup.conceptGroup[0].conceptProperties;
                          var select = document.getElementById('order_order_name');

                          results.map(function(result) {
                            var opt = document.createElement('option');
                            opt.value = JSON.stringify(result);
                            opt.innerHTML = result.synonym;
                            select.appendChild(opt);
                          }); 
                        }
                    });
                  }); 
                }
            });
        }
      }

      $(document).on('click', '#barcode', function(event) {
        event.preventDefault(); // don't trigger default

              document.getElementById('shell').style.visibility = 'hidden';
              document.getElementById('scanimation').style.visibility = 'visible';

              // get the value inside the text field
              var name = document.getElementById('order_patient_name').value;
              // get the value inside the text field
              var datefield = document.getElementById('order_dob').value;
              if (datefield) {
                var d = new Date(datefield);
                var birthdate = d.toISOString().substring(0, 10);
              } else {
                var birthdate = "";
              }

              $.ajax({
                  url: "<%= Rails.application.routes.url_helpers.barcode_patient_path %>",
                  type: 'GET',
                  dataType: 'html',
                  data: {patient_name:name, dob:birthdate},
                  success: function( data ) {
                    document.getElementById('scanimation').style.visibility = 'hidden';
                    document.getElementById('shell').style.visibility = 'visible';
                    $('#barcode_results').replaceWith($('#barcode_results').html(data));

                    var $response=$(data);
                    var display_name = $response.filter('#patient_name').text();
                    var display_dob = $response.filter('#dateofbirth').text();
                    $('#order_patient_name').val (display_name);
                    $('#order_dob').val (display_dob);
                  },
                  error: function(){
                    document.getElementById('scanimation').style.visibility = 'hidden';
                    document.getElementById('shell').style.visibility = 'visible';
                    alert('Could not find patient '.concat(name));
                  }
               });
            });
  </script>

  <%= form_for :order, url: orders_path do |f| %>

    <p>
      <button id="barcode">Scan Barcode/Confirm Patient</button>
    </p>

    <p>
      <%= f.label :patient_name %><br>
      <%= f.text_field :patient_name %>
    </p>
    <p>
      <%= f.label :date_of_birth %><br>
      <%= f.text_field :dob %>
    </p>
    <p id="barcode_results"></p>

    <p>
      <%= f.label :drug_name %><br>
      <%= text_field_tag :order_select, '', :onkeyup => "ping_test()" %>
    </p>

    <p>
      <%= f.select :order_name, [], {}, {:style => "max-width: 75%;"} %>
    </p>

    <p>
      <%= f.label :dosage %><br>
      <%= f.text_field :dosage %>
    </p>

    <p>
      <%= f.label :route %><br>
      <%= f.text_field :route %>
    </p>

    <p>
      <%= f.label :frequency %><br>
      <%= f.text_field :frequency %>
    </p>

    <p>
      <%= f.label :first_dose_priority %><br>
      <%= f.datetime_select :timestamp, :ampm => true %>
    </p>

    <p>
    	<%= f.label :image %><br>
    	<%= f.file_field :image %>
    </p>

    <%= f.hidden_field :status, value: 'active' %>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

<% if notice %>
<strong style="color:red;"><%= flash[:notice].join("<br>").html_safe %></strong>
<% end %>

</div>
  <h1> <%= link_to "<button>Back</button>".html_safe, controller: 'physician' %> </h1>

<div id="scanimation" class="preloader-scan" style="visibility:hidden;float: left;">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

    <div class="laser"></div>
  </ul>
</div>