<p>
  <strong>Patient:</strong>
  <%= @order.patient_name %>
</p>
 
<p>
  <strong>Order:</strong>
  <%= @order.order_name %>
</p>

<p>
  <strong>route:</strong>
  <%= @order.route %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @order.dosage %>
</p>

<p>
  <strong>First Dose Priority:</strong>
  <%= @order.timestamp %>
</p>

<h1> <%= link_to 'Back', controller: 'physician' %> </h1>